{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Atur Posyandu untuk {{ cadre.full_name }}</h3>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'assign_posyandu_to_cadre' cadre.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-start">
                <a href="{% url 'cadre_list' %}" class="btn btn-secondary mr-2">
                    <i class="fas fa-times-circle"></i>
                    Kembali
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i>
                    Simpan
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
