{% extends 'base.html' %} {% load static %} {% block css_page %}
<!--begin::Page Vendors Styles(used by this page)-->
<link
    href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}"
    rel="stylesheet"
    type="text/css"
/>
<!--end::Page Vendors Styles-->
{% endblock %} {% block subheader %}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div
        class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap"
    >
        <div class="d-flex align-items-center flex-wrap mr-2">
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">List Desa</h5>
        </div>
    </div>
</div>
{% endblock %} {% block content %}

<div class="card card-custom gutter-b">
    <div class="card-header border-0 py-5">
        <div class="card-toolbar">
            <a
                href="{% url 'village_create' %}"
                class="btn btn-success font-weight-bolder font-size-sm"
                aria-label="Tambah Desa"
            >
                <i class="fas fa-plus"></i>
                Tambah Desa
            </a>
        </div>
    </div>
    <div class="card-body pt-0 pb-3">
        <div class="table-responsive">
            <table
                id="villageTable"
                class="table table-striped table-bordered table-hover"
            >
                <thead>
                    <tr>
                        <th hidden>ID</th>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %} {% block js_page %}

<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'assets/js/pages/crud/datatables/basic/basic.js' %}"></script>

<script>
    const csrfToken = "{{ csrf_token }}";

    $(document).ready(function () {
        $("#villageTable").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'village_list' %}",
                type: "GET",
            },
            columns: [
                { data: "id", visible: false },
                { data: "id", title: "No" },
                { data: "name", title: "Nama" },
                {
                    data: "id",
                    title: "Aksi",
                    orderable: false,
                    searchable: false,
                    render: function (data) {
                        const updateUrl =
                            "{% url 'village_update' 'pk' %}".replace(
                                "pk",
                                data
                            );
                        const deleteUrl =
                            "{% url 'village_delete' 'pk' %}".replace(
                                "pk",
                                data
                            );
                        return `<a href="${updateUrl}" class="btn btn-icon btn-sm btn-outline-warning mr-2" title="Edit Data">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="${deleteUrl}" class="btn btn-icon btn-sm btn-outline-danger" title="Hapus Data">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                `;
                    },
                },
            ],
            order: [[1, "asc"]],
            language: {
                search: "Cari Desa:",
                lengthMenu: "Tampilkan _MENU_ desa",
                info: "Menampilkan _START_ sampai _END_ dari _TOTAL_ desa",
                paginate: {
                    first: "Pertama",
                    last: "Terakhir",
                    next: "Berikutnya",
                    previous: "Sebelumnya",
                },
                emptyTable: "Tidak ada data tersedia",
                infoEmpty: "Menampilkan 0 sampai 0 dari 0 data",
            },
        });
    });
</script>
{% endblock %}
