{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Atur Desa untuk {{ midwife.full_name }}</h3>
    </div>
    <div class="card-body">
        <form
            method="post"
            action="{% url 'assign_village_to_midwife' midwife.id %}"
        >
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-start">
                <a href="{% url 'midwife_list' %}" class="btn btn-secondary mr-2">Kembali</a>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block js_page %}
    <!--begin::Page Scripts(used by this page)-->
    <script src="{% static 'assets/js/pages/crud/forms/widgets/bootstrap-select.js' %}"></script>
    <!--end::Page Scripts-->
{% endblock %}