<div class="modal fade" id="posyanduModal" tabindex="-1" role="dialog" aria-labelledby="posyanduModalLabel"
    data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="posyanduModalLabel">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="posyanduForm" class="form" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label>Nama Posyandu</label>
                            <input type="text" name="posyandu-name" class="form-control form-control-solid"
                                placeholder="Masukan nama Posyandu" />
                        </div>
                        <div class="form-group">
                            <label for="villageSelect">Desa</label>
                            <select class="form-control form-control-solid" name="village-id">
                                {% for village in request.user.village_set.all %}
                                <option value="{{ village.id }}">{{ village.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Alamat</label>
                            <input type="text" name="posyandu-address" class="form-control form-control-solid"
                                placeholder="Masukan alamat Posyandu" />
                        </div>
                    </div>

                    <div class="input-hidden" hidden>
                        <input type="text" name="form-action">
                        <input type="text" name="pk">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button type="submit" form="posyanduForm" class="btn btn-primary font-weight-bold">Simpan</button>
            </div>
        </div>
    </div>
</div>