{% extends 'base.html' %} {% load static %} {% block subheader %}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div
        class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap"
    >
        <div class="d-flex align-items-center flex-wrap">
            <a
                href="{% url 'child_list' %}"
                class="text-dark font-weight-bold mr-3 d-flex align-items-center"
            >
                <i class="la la-arrow-left mr-1"></i>
            </a>

            <h5 class="text-dark font-weight-bold mt-2 mb-2">
                Detail Data Anak
            </h5>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="card card-custom gutter-b">
    <div class="card-header">
        <h5 class="card-title mb-0">Informasi Anak</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <td>{{ child.id }}</td>
            </tr>
            <tr>
                <th>Nama Lengkap</th>
                <td>{{ child.full_name }}</td>
            </tr>
            <tr>
                <th>Jenis Kelamin</th>
                <td>{{ child.get_gender_display }}</td>
            </tr>
            <tr>
                <th>Tanggal Lahir</th>
                <td>{{ child.birth_date|date:"d-m-Y" }}</td>
            </tr>
            <tr>
                <th>Urutan Lahir</th>
                <td>{{ child.birth_order }}</td>
            </tr>
            <tr>
                <th>Berat Lahir (kg)</th>
                <td>{{ child.birth_weight }}</td>
            </tr>
            <tr>
                <th>Tinggi Lahir (cm)</th>
                <td>{{ child.birth_height }}</td>
            </tr>
            <tr>
                <th>Orang Tua</th>
                <td>{{ child.parent.full_name }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>
                    {% if child.picture %}
                    <img
                        src="{{ child.picture.url }}"
                        alt="{{ child.full_name }}"
                        class="img-thumbnail"
                        width="200"
                    />
                    {% else %}
                    <p>Tidak ada foto tersedia</p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

{% if child.growthchart %}
<div class="card card-custom gutter-b">
    <div class="card-header">
        <h5 class="card-title mb-0">Grafik Pertumbuhan</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {% if child.growthchart.weight_for_age_chart_0_24 %}
            <div class="col-md-6 mb-4">
                <h6>Berat untuk Usia (0-24 Bulan)</h6>
                <img
                    src="{{ child.growthchart.weight_for_age_chart_0_24.url }}"
                    class="img-fluid img-thumbnail"
                    alt="Grafik Berat untuk Usia (0-24 Bulan)"
                />
            </div>
            {% endif %} {% if child.growthchart.weight_for_age_chart_24_60 %}
            <div class="col-md-6 mb-4">
                <h6>Berat untuk Usia (24-60 Bulan)</h6>
                <img
                    src="{{ child.growthchart.weight_for_age_chart_24_60.url }}"
                    class="img-fluid img-thumbnail"
                    alt="Grafik Berat untuk Usia (24-60 Bulan)"
                />
            </div>
            {% endif %} {% if child.growthchart.length_for_age_chart_0_24 %}
            <div class="col-md-6 mb-4">
                <h6>Panjang untuk Usia (0-24 Bulan)</h6>
                <img
                    src="{{ child.growthchart.length_for_age_chart_0_24.url }}"
                    class="img-fluid img-thumbnail"
                    alt="Grafik Panjang untuk Usia (0-24 Bulan)"
                />
            </div>
            {% endif %} {% if child.growthchart.height_for_age_chart_24_60 %}
            <div class="col-md-6 mb-4">
                <h6>Tinggi untuk Usia (24-60 Bulan)</h6>
                <img
                    src="{{ child.growthchart.height_for_age_chart_24_60.url }}"
                    class="img-fluid img-thumbnail"
                    alt="Grafik Tinggi untuk Usia (24-60 Bulan)"
                />
            </div>
            {% endif %} {% if child.growthchart.weight_for_length_chart_0_24 %}
            <div class="col-md-6 mb-4">
                <h6>Berat untuk Panjang (0-24 Bulan)</h6>
                <img
                    src="{{ child.growthchart.weight_for_length_chart_0_24.url }}"
                    class="img-fluid img-thumbnail"
                    alt="Grafik Berat untuk Panjang (0-24 Bulan)"
                />
            </div>
            {% endif %} {% if child.growthchart.weight_for_height_chart_24_60 %}
            <div class="col-md-6 mb-4">
                <h6>Berat untuk Tinggi (24-60 Bulan)</h6>
                <img
                    src="{{ child.growthchart.weight_for_height_chart_24_60.url }}"
                    class="img-fluid img-thumbnail"
                    alt="Grafik Berat untuk Tinggi (24-60 Bulan)"
                />
            </div>
            {% endif %} {% if child.growthchart.bmi_for_age_chart_0_24 %}
            <div class="col-md-6 mb-4">
                <h6>Indeks Massa Tubuh untuk Usia (0-24 Bulan)</h6>
                <img
                    src="{{ child.growthchart.bmi_for_age_chart_0_24.url }}"
                    class="img-fluid img-thumbnail"
                    alt="Grafik IMT untuk Usia (0-24 Bulan)"
                />
            </div>
            {% endif %} {% if child.growthchart.bmi_for_age_chart_24_60 %}
            <div class="col-md-6 mb-4">
                <h6>Indeks Massa Tubuh untuk Usia (24-60 Bulan)</h6>
                <img
                    src="{{ child.growthchart.bmi_for_age_chart_24_60.url }}"
                    class="img-fluid img-thumbnail"
                    alt="Grafik IMT untuk Usia (24-60 Bulan)"
                />
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %} {% endblock %}
