<div class="modal fade" id="cadreAssignmentModal" tabindex="-1" role="dialog"
    aria-labelledby="cadreAssignmentModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadreAssignmentModalLabel">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="cadreAssignmentForm" class="form" method="post" action="">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="villageSelect">Desa</label>
                            <select id="village-select" class="form-control form-control-solid" name="village-id">
                                {% for village in request.user.village_set.all %}
                                {% for posyandu in village.posyandu_set.all %}
                                <option value="{{ posyandu.id }}">{{ village.name }} - {{ posyandu.name }}</option>
                                {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="input-hidden" hidden>
                        <input type="text" name="form-action" value="add">
                        <input type="text" name="cadre-id">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button type="submit" form="cadreAssignmentForm" class="btn btn-primary font-weight-bold"
                    id="submit-button-modal">Tugaskan</button>
            </div>
        </div>
    </div>
</div>