{% extends 'base.html' %}
{% block subheader %}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Dashboard</h5>
            <!--end::Page Title-->
        </div>
        <!--end::Info-->
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col col-xl-4">
        <div class="card card-custom wave wave-animate-slower wave-success mb-8">
            <div class="card-body">
                <div class="d-flex align-items-center p-5">
                    <div class="mr-6">
                        <i class="icon-xl fas fa-users"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                            Jumlah Balita
                        </a>
                        <div class="text-dark-75">
                            <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block">
                                {{ children }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-xl-4">
        <div class="card card-custom wave wave-animate-slower wave-danger mb-8">
            <div class="card-body">
                <div class="d-flex align-items-center p-5">
                    <div class="mr-6">
                        <i class="icon-xl fas fa-users"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                            Jumlah Orang Tua
                        </a>
                        <div class="text-dark-75">
                            <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block">
                                {{ parents }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-xl-4">
        <div class="card card-custom wave wave-animate-slower wave-primary mb-8">
            <div class="card-body">
                <div class="d-flex align-items-center p-5">
                    <div class="mr-6">
                        <i class="icon-xl fas fa-users"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                            Jumlah Bidan
                        </a>
                        <div class="text-dark-75">
                            <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block">
                                {{ midwives }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-xl-4">
        <div class="card card-custom wave wave-animate-slower wave-warning mb-8">
            <div class="card-body">
                <div class="d-flex align-items-center p-5">
                    <div class="mr-6">
                        <i class="icon-xl fas fa-users"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                            Jumlah Kader
                        </a>
                        <div class="text-dark-75">
                            <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block">
                                {{ cadres }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}