{% extends 'base.html' %} {% load static %} {% block content %}
<div class="card card-custom gutter-b">
    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">
                Form Tambah Posyandu
            </span>
        </h3>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="card-body">{{ form.as_p }}</div>
        <div class="card-footer">
            <a href="{% url 'posyandu_list' %}" class="btn btn-secondary mr-2">
                <i class="fas fa-times-circle"></i>
                Batal
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fas fa-save"></i>
                Simpan
            </button>
        </div>
    </form>
</div>
{% endblock %}
