{% extends 'base.html' %} {% block content %}
<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">Konfirmasi Hapus</h3>
    </div>
    <div class="card-body">
        <p>
            Apakah Anda yakin ingin menghapus posyandu
            <strong>{{ object.name }}</strong>?
        </p>
    </div>
    <div class="card-footer">
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'posyandu_list' %}" class="btn btn-secondary">
                <i class="fas fa-times-circle"></i>
                Batal
            </a>
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
                Hapus
            </button>
        </form>
    </div>
</div>
{% endblock %}
