{% extends 'base.html' %} {% block content %}
<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">Perbarui Posyandu</h3>
    </div>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="card-body">{{ form.as_p }}</div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Simpan</button>
            <a href="{% url 'posyandu_list' %}" class="btn btn-secondary"
                >Batal</a
            >
        </div>
    </form>
</div>
{% endblock %}
