{% block content %}
<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="{% url 'dashboard' %}">Puskesmas</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'dashboard' %}">PKM</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>

            <li class="{% if request.path == '/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fire"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="{% if request.path == '/village_list/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'village_list' %}">
                    <i class="fas fa-fire"></i>
                    <span>Desa</span>
                </a>
            </li>
        </ul>
    </aside>
</div>
{% endblock content %}